/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* QUICK TITLE */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
.quick-title {
    padding: 10px 15px;
    background-color: #0a0a0ad8;
    font-size: 14px;
    font-weight: 600;
    color: #f0f0f0;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%, 100%);
    white-space: nowrap;
    z-index: 1000;
}

/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* MAIN PAGE */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
.main-page-container {
    width: 1140px;
    margin: 0 auto;
}

.main-welcome-block {
    width: calc(100%);
    height: calc(100vh - 40px);
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    position: relative;
}

.mw-title {
    font-size: 500%;
    font-weight: 700;
    font-family: 'Rubik';
    transition: all 0.2s;
    position: absolute;
    top: 50px;
    left: 0px;
}

.mw-account-block {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    background-color: #0D0745;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.mw-block-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mw-small-link-block:hover .mw-block-line {
    opacity: 0;
}

.mw-account-name {
    font-size: 150%;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Nunito';
}

.mw-account-image {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.mw-white {
    color: #fff;
}

.mw-block-name {
    font-size: 16px;
    font-weight: 600;
}

.mw-block-icon {
    font-size: 200%;
}

.mw-animation-block {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #ffffff; */
    animation: rotateIconBox 10s linear infinite;
    z-index: 100;
}

@keyframes rotateIconBox {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.mw-animation-icon {
    /* width: 80px;
    height: auto; */
    position: absolute;
    animation: rotateIcon 5s linear infinite;
    opacity: 0.5;
    font-size: 750%;
    color: #ffffff;
    z-index: 100;
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mw-account-block:hover .mw-animation-icon-1 {
    color: $herd;
    opacity: 1;
}

.mw-account-block:hover .mw-animation-icon-2 {
    color: $vet;
    opacity: 1;
}

.mw-account-block:hover .mw-animation-icon-3 {
    color: $dist;
    opacity: 1;
}

.mw-account-block:hover .mw-animation-icon-4 {
    color: $feed;
    opacity: 1;
}

.mw-animation-icon-1 {
    top: 0;
    left: 0;
}

.mw-animation-icon-2 {
    top: 0;
    right: 0;
}

.mw-animation-icon-3 {
    bottom: 0;
    left: 0;
}

.mw-animation-icon-4 {
    bottom: 0;
    right: 0;
}

.mw-small-link-block {
    position: relative;
    overflow: hidden;
}

.mw-link-herd-block {
    grid-column: 4 / 4;
    grid-row: 2 / 3;
    width: calc(100% - 80px);
    height: calc(100% - 60px);
    padding: 30px 40px;
    border-radius: 50px;
    background-color: $herd;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.mw-link-vet-block {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    width: calc(100% - 80px);
    height: calc(100% - 60px);
    padding: 30px 40px;
    border-radius: 50px;
    background-color: $vet;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.mw-link-feed-block {
    grid-column: 3 / 4;
    grid-row: 4 / 4;
    width: calc(100% - 80px);
    height: calc(100% - 60px);
    padding: 30px 40px;
    border-radius: 50px;
    background-color: $feed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.mw-link-dist-block {
    grid-column: 4 / 4;
    grid-row: 3 / 4;
    width: calc(100% - 80px);
    height: calc(100% - 60px);
    padding: 30px 40px;
    border-radius: 50px;
    background-color: $dist;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.mw-link-quick-block {
    grid-column: 4 / 5;
    grid-row: 4 / 4;
    width: calc(100% - 80px);
    height: calc(100% - 60px);
    padding: 30px 40px;
    border-radius: 50px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.mw-link-block {
    text-decoration: none;
}

.mw-link-block:hover {
    transform: scale(0.975);
}

.mw-account-block:hover .mw-marquee-container {
    opacity: 0;
}

.mw-marquee-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    z-index: 101;
}

.mw-marquee-text {
    font-size: 56px;
    font-weight: 600;
    flex-shrink: 0;
    margin: 0;
    min-width: 100%;
    /* white-space: nowrap; */
    /* animation-name: marqueeLine;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; */
    animation: marqueeLine 15s linear infinite;
    z-index: 101;
}

@keyframes marqueeLine {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.mw-marquee-text-white {
    color: #ffffff;
}

.mw-marquee-small {
    font-size: 38px;
}

.mw-small-link-block .mw-marquee-text {
    opacity: 0;
}

.mw-small-link-block:hover .mw-marquee-text {
    opacity: 1;
}

.main-herd-section {
    width: 100%;
    position: relative;
    height: calc(100vh - 100px);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mhs-main-info-block {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    padding-top: 49px;

    &:hover {
        .mhs-main-info-title {
            display: block;
        }
    }
}

.mhs-main-info-title {
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -100%);
    display: none;
}

.mhs-mi-text-block {
    display: flex;
    flex-direction: column;
    height: 78px;
    overflow: scroll;
    width: 20%;

    &::-webkit-scrollbar {
        display: none;
    }
}

.mhs-mi-text-block-left {
    align-items: flex-end;
}

.mhs-mi-text-block-right {

    align-items: flex-start;
}

.mhs-mi-text {
    font-size: 64px;
    font-weight: 700;
    flex-shrink: 0;
}

.mhs-mi-graph {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mhs-mi-graph-item {
    width: calc(7% - 4px);
    height: calc(100px - 5px);
    background-color: #f0f0f0;
    border-radius: 50px;
    cursor: pointer;

    border: 2px solid #00000000;

    &:hover {
        border-color: $mainBlack;
    }
}

.mhs-bottom-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.mhs-bi-item {
    width: calc(33% - 30px);
    height: calc(100px - 20px);
    padding: 10px;
    display: flex;
    align-items: center;
}

.mhs-bi-switch-block {
    width: 33%;
    border-radius: 20px;
    height: 100px;
    overflow: hidden;
    /* display: flex; */

    /* background-color: #f0f0f0; */
}
.mhs-bi-item-switch {
    flex-shrink: 0;
    width: calc(100% - 20px);
    height: calc(100px - 20px);
    padding: 10px;
    display: flex;
    align-items: center;
    display: none;
    float: left;
}
.mhs-bi-item-switch-first {
    display: flex;
}

.mhs-bi-icon {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
        width: 45%;
        height: auto;
    }
    div {
        width: 40%;
        height: 7.5px;
        border-radius: 50%;
        background-color: #000;
        opacity: 0.1;
        filter: blur(2px);
        position: absolute;
        bottom: 10px;
    }
}
.mhs-bi-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    p {
        font-size: 16px;
        font-weight: 700;
    }
}

/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ALL EMPLOYEES PAGE */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
.users-list-block {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 200px);
    padding: 100px 0;
}

.users-list-container {
    border-radius: 20px;
    width: calc(100% - 40px);
    padding: 20px;
}

.users-list-container-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.ulh-item {
    font-size: 80%;
    font-weight: 400;
    color: #afafaf;
    text-align: center;
}

.ulh-item.ulh-item-photo {
    width: 5%
}

.ulh-item.ulh-item-name {
    width: 25%
}

.ulh-item.ulh-item-email {
    width: 25%
}

.ulh-item.ulh-item-title {
    width: 15%
}

.ulh-item.ulh-item-restrictions {
    width: 15%
}

.ulh-item.ulh-item-action {
    width: 15%
}

.users-list-user-item {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    margin: 10px 0;

}

.ului-photo {
    height: 100%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ului-photo img {
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    border-radius: 5px;
}

.ului-name,
.ului-email {
    font-weight: 500;
    width: 25%;
    text-align: center;
    font-size: 90%;
}

.ului-title {
    width: 15%;
    text-align: center;
    font-weight: 500;
    font-size: 90%;
}

.ului-restrictions {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.ului-herd {
    color: #FFB038;
}

.ului-vet {
    color: #5E72E8;
}

.ului-warehouse {
    color: #FE928F;
}

.ului-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.ului-action a {
    padding: 7.5px 15px;
    font-weight: 500;
    border-radius: 5px;
    background-color: $mainBlack;
    color: #ffffff;
    text-decoration: none;
    font-size: 80%;
}

/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ARE YOU SURE BLOCKS */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
.aus-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    backdrop-filter: blur(5px);
}

.aus-block {
    width: calc(450px - 60px);
    padding: 30px;
    border-radius: 10px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
}

.aus-block-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.aus-btns-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.aus-btn {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.aus-btn-dang {
    color: $error;
}

.aus-btn-highlighted {
    background-color: #d9d9d9;
}

/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* NO INFO BLOCKS */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
.no-info-block {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    z-index: 1000;
    top: 0;
    left: 0;

    h3 {
        font-size: 18px;
        font-weight: 600;
        z-index: 1001;
    }

    p {
        font-size: 12px;
        font-weight: 500;
        z-index: 1001;
    }
}

.no-info-block-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    border-radius: 10px;
}

/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* LOADING BLOCK */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
.loading-block {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loading-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid $mainBlack;
    border-bottom-color: #f0f0f000;
    border-right-color: #f0f0f000;
    animation: loadingRotate 2.5s linear infinite;
    ;
}


@keyframes loadingRotate {
    0% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* DETAILED DOCUMENT INFO BLOCK */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
.detailed-info-window {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15000;
    background-color: #0a0a0a3d;
}

.detailed-info-block {
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 750px;
    z-index: 15002;
    display: flex;
    flex-direction: column;
}

.dib-header {
    width: calc(100% - 40px);
    height: 60px;
    padding: 0 20px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1.5px solid #d9d9d9;
}

.dib-edit-btn {
    font-size: 12px;
    font-weight: 600;
    padding: 5px 7.5px;
    background-color: #d9d9d9;
    border-radius: 50px;
    text-decoration: none;

    &:hover {
        opacity: 0.9;
    }
}

.dib-header-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.dib-header-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.dib-header-text-big {
    font-size: 16px;
    font-weight: 600;
}

.dib-header-upper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dib-close {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
        font-size: 24px;
    }
}

.dib-footer {
    width: calc(100% - 40px);
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
    border-top: 1.5px solid #d9d9d9;
}

.dib-footer-date {
    font-size: 14px;
    font-weight: 600;
    opacity: 0.5;
}

.dib-footer-edit {
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    right: 20px;

    &:hover {
        text-decoration: none;
    }
}

.dib-body {
    height: calc(100% - 120px);
    width: calc(100% - 80px);
    padding: 0 40px;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.dib-body-with-btn {
    height: calc(100% - 210px);
}

.dib-body-title {
    font-size: 32px;
    font-weight: 600;
    margin: 40px 0 15px 0;
}

.dib-body-text {
    font-size: 16px;
    font-weight: 600;
}

.dib-body-container-devider {
    width: 100%;
    height: 1.5px;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin: 20px 0;
}

.dib-body-container-text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.dib-body-container-line {
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    margin-top: 20px;
}

.dib-line-indi {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.dib-line-indi-neg {
    background-color: $error;
}

.dib-line-indi-pos {
    background-color: $success;
}

.dib-line-text {
    font-size: 14px;
    font-weight: 600;
}

.dib-line-edit {
    font-size: 10px;
    font-weight: 600;
    padding: 5px 7.5px;
    border-radius: 50px;
    background-color: #d9d9d9;
    text-decoration: none;
    position: absolute;
    right: 60px;
}

.dib-big-btn {
    font-size: 16px;
    font-weight: 600;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    margin: 20px 0 20px 50%;
    transform: translate(-50%);
    text-decoration: none;
    border-radius: 10px;
    background-color: #d9d9d9;
}

.dib-big-btn-herd {
    background-color: $herd;
}

.dib-big-btn-vet {
    background-color: $vet;
    color: #f0f0f0;
}

.dib-big-btn-dist {
    background-color: $dist;
}

.dib-big-btn-feed {
    background-color: $feed;
}

/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* REPORTS PAGE */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
.reports-page-section {
    width: 1140px;
    min-height: calc(100vh - 200px);
    padding: 100px 0;
    margin: 0 auto;
}

.reports-modules-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 100%;
}

.rm-item {
    padding: 20px;
    width: calc(100% - 40px);
    aspect-ratio: 1/0.5;
    border-radius: 20px;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        .rm-list-block {
            display: flex;
        }
    }
}

.rm-text-block {
    position: absolute;
    top: 25px;
    left: 20px;

    h3 {
        font-size: 24px;
        font-weight: 600;
        background-color: #f0f0f0;
        border-radius: 10px;
        padding: 5px;
        display: inline;
    }

    p {
        font-size: 16px;
        font-weight: 600;
        background-color: #f0f0f0;
        border-radius: 10px;
        padding: 5px;
        margin-top: 15px;
    }
}

.rm-img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 50%;
        height: auto;
    }
}

.rm-item-herd {
    background-color: $herd;
}

.rm-item-vet {
    background-color: $vet;
}

.rm-list-block {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 20px;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    background-color: #f0f0f0;
    border-radius: 20px;
    ;
    z-index: 1000;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.rml-item {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;

    &:hover {
        text-decoration: underline;
    }
}

.report-time-span-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5001;
    display: none;
}

.report-time-span-block {
    width: calc(450px - 40px);
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rts-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 50px;
}

.rts-dates-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    input {
        border: 1.5px solid #000;
        outline: none;
        background-color: #fff;
        padding: 10px;
        border-radius: 50px;
        flex-grow: 1;
        font-size: 14px;
        font-weight: 600;
    }

    p {
        font-size: 20px;
        font-weight: 600;
    }
}

.rts-sug-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.rtss-item {
    background-color: #d9d9d9;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

.rts-btn {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    margin-top: 50px;
    background-color: $herd;
    cursor: pointer;
    border-radius: 50px;

    filter: grayscale(1);
    pointer-events: none;

    &:hover {
        opacity: 0.5;
    }
}

/* VET MAIN SECTION */
.main-vet-section {
    width: 100%;
    height: calc(100vh - 100px);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}
.mvs-info-graph {
    width: calc(100% - 260px);
    flex-grow: 1;
    padding: 50px 148px 50px 112px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mvs-ig-text {
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    cursor: help;
}
.mvs-ig-text-1 {
    top: 20px;
    left: 50%;;
    transform: translate(-50%);
}
.mvs-ig-text-2 {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.mvs-ig-text-3 {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.mvs-ig-text-4 {
    bottom: 20px;
    left: 50%;;
    transform: translate(-50%);
}
.mvs-svg-path {
    stroke: $vet;
    stroke-width: 10px;
    fill: none;
    stroke-linejoin: round;
}
.mvs-svg-line {
    stroke: #d9d9d9;
    stroke-width: 2px;
    fill: none;
    stroke-linecap: round;  
}

.mvs-ig-details-block {
    min-width: calc(200px - 60px);
    max-height: calc(80% - 60px);
    padding: 30px;
    background-color: rgb(0, 0, 0, 0.9); 
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    display: none;
    z-index: 1000;
}
.mvs-ig-details-block-title {
    font-size: 22px;
    font-weight: 600;
    flex-shrink: 0;
    margin-bottom: 10px;
    color: #fff;
}
.mvs-ig-details-block-count {
    font-size: 14px;
    font-weight: 600;
    flex-shrink: 0;
    color: #fff;
}