/* Colors */
$herd: rgb(251, 141, 52);
$dist: #ff5230;
$feed: #8ED081;
$vet: #158b96;

$green: rgb(13, 173, 104);
$red: rgb(212, 77, 92);
$yellow: #f6b91d;

/*  */
$error: $red;
$success: $green;

$mainBlack: #0A0908;
$elBackground: #f0f0f0;

$male: #27aae1;
$female: #ee2a7b;