/* Colors */
$lightOrange: #fb8d34;
$redOrange: #ff5230;
$purple: #9d4b9f;
$cyan: #606ae5;
$lightBlue: #43d7e5;

$green: #0EAD69;
$red: #D44D5C;

/*  */
$error: $red;
$success: $green;

$mainBlack: #0A0908;
$elBackground: #f0f0f0;