/* Colors */
$herd: #fb8d34;
$dist: #ff5230;
$feed: #8ED081;
$vet: #158b96;

$green: #0EAD69;
$red: #D44D5C;
$yellow: #f6b91d;

/*  */
$error: $red;
$success: $green;

$mainBlack: #0A0908;
$elBackground: #f0f0f0;