/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* VET HISTORY PAGE */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
.history-page-categories-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hp-category {
    padding: 10px;
    border: 1.5px solid;
    cursor: pointer;
    margin: 0 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

#vet-history-container .hp-category ion-icon {
    margin-right: 10px;
    color: #5E72E8;
}

#vet-history-container .hp-category p {
    font-size: 90%;
    color: #5E72E8;
}

#vet-history-container .hp-category {
    border-color: #5E72E8;
}

#vet-history-container .hp-category-active {
    background-color: #5E72E8;
}

#vet-history-container .hp-category-active ion-icon,
#vet-history-container .hp-category-active p {
    color: #ffffff;
}

#herd-history-container .hp-category ion-icon {
    margin-right: 10px;
    color: #FFB038;
}

#herd-history-container .hp-category p {
    font-size: 90%;
    color: #FFB038;
}

#herd-history-container .hp-category {
    border-color: #FFB038;
}

#herd-history-container .hp-category-active {
    background-color: #FFB038;
}

#herd-history-container .hp-category-active ion-icon,
#herd-history-container .hp-category-active p {
    color: #000000;
}

.history-page-searched {
    width: 100%;
    max-width: 700px;
    padding-bottom: 50px;
    border-bottom: 1.5px solid #b8b8b8;
    margin-top: 50px;
    display: none;
}

.history-page-container {
    width: 100%;
    max-width: 700px;
}

.history-page-item-outter {
    width: 100%;
    height: 65px;
    position: relative;
    margin-bottom: 30px;
}

.history-page-item {
    width: 100%;
    height: 100%;
    background-color: $elBackground;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.history-page-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* border: 1.5px solid #297045; */
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-page-icon ion-icon {
    font-size: 125%;
    color: #e2e2e2;
}

.history-page-title {
    margin-left: 76px;
    font-size: 125%;
    font-weight: 400;
}

#vet-history-container .history-page-title,
#vet-history-container .history-page-icon ion-icon {
    color: #5E72E8;
}

#herd-history-container .history-page-title,
#herd-history-container .history-page-icon ion-icon {
    color: #FFB038;
}

.history-page-date {
    margin-right: 20px;
    color: #818181;
}

.history-page-item:hover .history-page-date {
    margin-right: 30px;
}

.history-page-month {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 175%;
    color: #818181;
    width: 100%;
    text-align: left;
}

.history-page-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    transform: translateX(50%);
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0;
}

.history-page-delete ion-icon {
    font-size: 150%;
    color: $error;
}

.history-page-delete:hover.history-page-delete ion-icon {
    transform: rotate(90deg);
}

.history-page-item:hover .history-page-delete {
    opacity: 1;
}

.hp-delete-block {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    opacity: 0;
}

.hp-delete-block p {
    margin-right: 50px;

}

.hp-delete-block-btn {
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 90%;
    margin-right: 10px;
    cursor: pointer;
}

#vet-history-container .hp-delete-block-btn-keep {
    background-color: #5E72E8;
    color: #ffffff;
}

#herd-history-container .hp-delete-block-btn-keep {
    background-color: #FFB038;
    color: #ffffff;
}

.hp-delete-block-btn-delete {
    color: $error;
}


/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* VET MAIN PAGE */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
.main-flex-block {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;
}
.vet-list-block {
    width: calc(50% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 20px;
    overflow: hidden;
}
.vet-list-block-header {
    width: 100%;
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.vlbh-item {
    font-size: 14px;
    font-weight: 600;
    opacity: 0.5;
    padding: 0 10px;
}
.vet-list-container {
    width: 100%;
    height: calc(100% - 40px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &::-webkit-scrollbar {
        display: none;
    }
}
.vlc-item {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.vlc-item-info {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    
    white-space: nowrap;
    overflow: hidden;
    
    /* overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    } */
}
.vlc-item-number {
    width: calc(95px - 20px);
}
.vlc-item-date {
    width: calc(70px - 20px);
}
.vlc-item-prob {
    flex-grow: 1;
    justify-content: unset;
    
    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.vlc-item-prob-color  {
    background-color: $error;
}
.vlc-item-prob-scheme {
    background-color: $vet;
    p {
        color: #ffffff;
    }
}
.vlc-item-treat {
    height: calc(100% - 20px);
    aspect-ratio: 1/1;
}
.vet-most-problems-block {
    width: calc(50% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    border-radius: 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}
.vmp-animals-row {
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}
.vmp-animals-row-item {
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    background-color: $error;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;

    img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #f0f0f0;
    }
    p {
        font-size: 14px;
        font-weight: 600;
    }
}
.vmp-title {
    font-size: 96px;
    font-weight: 700;
}
.vmp-sub-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.vmp-text {
    font-size: 22px;
    font-weight: 500;
}
.vet-insem-stat-block {
    grid-column: 1/4;
    height: 450px;
    width: 100%;
    grid-row: 1/1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.vis-uninsem-block {
    width: 100%;
    height: 60%;
    border-radius: 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.vis-uninsem-number {
    font-size: 80px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;

    &::after {
        content: '';
        width: 100%;
        height: 5px;
        border-radius: 50%;
        background-color: #00000099;
        filter: blur(10px);
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translate(-50%, 100%);
    }
}
.vis-uninsem-title {
    font-size: 20px;
    font-weight: 600;
}
.vis-count-block {
    width: calc(100% - 0px);
    padding-bottom: 40px;
    height: calc(40% - 40px);
    background-color: #f0f0f0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.vis-count-title {
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
.vis-count-block-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}
.vis-count-block-inner-active {
    display: flex;
}
.vis-count-block-number {
    font-size: 32px;
    font-weight: 700;
    color: #f0f0f0;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $vet;
    border-radius: 50%;
}
.vis-count-block-percent {
    font-size: 72px;
    font-weight: 700;
    color: $vet;
}
.vet-scheme-dropdown-block {
    width: calc(50% - 80px);
    height: calc(100% - 40px);
    padding: 20px 40px;
    background-color: #f0f0f0;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
.vsd-items-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    overflow: auto;
    gap: 20px;

    &::-webkit-scrollbar {
        display: none;
    }
}
.vsd-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: row-reverse;
}
.vsd-item-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}
.vsd-item-body-name {
    font-size: 16px;
    font-weight: 600;
}
.vsd-item-body-date {
    font-size: 14px;
    font-weight: 600;
    opacity: 0.5;
}
.vsd-item-number {
    width: 60px;
    height: 60px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 50%;
    border: 2px solid $vet;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $vet;
}
.vsd-item-number-past {
    background-color: $vet;
    color: #f0f0f0;
}
.vsd-item-number-current {
    animation: schemeCurrent 5s linear infinite;
}
@keyframes schemeCurrent {
    35% {
        background-color: #f0f0f0;
        color: $vet;
    }
    50% {
        background-color: $vet;
        color: #f0f0f0;
    }
    65% {
        background-color: #f0f0f0;
        color: $vet;
    }
}
.vsd-header {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vsd-header-edit {
    border-radius: 10px;
    background-color: $vet;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
    i {
        font-size: 20px;;
        color: #f0f0f0;
    }
}
.vsd-header-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 7.5px;
}
.vsd-header-body-title {
    font-size: 16px;
    font-weight: 600;
}
.vsd-header-body-bottom {
    display: flex;
    align-items: center;
    gap: 10px;
}
.vsd-animal {
    font-size: 12px;
    font-weight: 600;
    padding: 2.5px 5px;
    background-color: $vet;
    color: #f0f0f0;
    text-decoration: none;
    border-radius: 50px;

    &:hover {
        opacity: 0.9;
    }
}
.vsd-header-date {
    font-size: 12px;
    font-weight: 600;
}