
.header-block
  .header-search-block
    .header-search-block-icon
      ion-icon(name="search")
    input.header-search-input(type="text" placeholder="Поиск")

  .header-user-block
    .header-user-notifications
      ion-icon.hun-bell-icon(name="notifications-outline")
      .header-user-notif-number 12
      ion-icon.hun-arrow-icon(name="caret-down")
    a.header-user-link(href="#")
      .header-user-info
        .huf-name Даниил Коробко
        .huf-title Создатель
      img(src="/img/images/cows-login-2.jpg")
