.main-menu-back-btn
  ion-icon(name="arrow-back")
.main-menu-btn
  ion-icon(name="apps")
.main-menu
  .main-menu-logout-btn#logout-btn
    ion-icon(name="exit-outline")
  .main-menu-header
    a.menu-logo-box(href="/")
      img.menu-logo(src='/img/logos/farmme-logo-6.png')
    .header-search-block
      .header-search-block-icon
        ion-icon(name="search")
      input.header-search-input(type="text" placeholder="Поиск")

    .header-user-block
      //-.header-user-notifications
        ion-icon.hun-bell-icon(name="notifications-outline")
        .header-user-notif-number 12
        ion-icon.hun-arrow-icon(name="caret-down")
      a.header-user-link(href="#")
        .header-user-info
          .huf-name= `${user.firstName} ${user.lastName}`
          .huf-title Босс
        img(src="/img/images/user-default.png")
  
  .main-menu-items-container
    //-.menu-item-box.menu-item-box-openned
    .menu-item-box
      .menu-item-title ФЕРМА
      a.menu-item-link(href=`/all-employees/${user.farm}`) СОТРУДНИКИ
      a.menu-item-link(href=`/edit-farm`) НАСТРОЙКИ ФЕРМЫ
      a.menu-item-link(href=`/edit-user`) НАСТРОЙКИ АККАУНТА
    .menu-item-box
      .menu-item-title ЖИВОТНЫЕ
      a.menu-item-link(href="/herd") ГЛАВНАЯ
      a.menu-item-link(href="/herd/all-animals") ВСЕ ЖИВОТНЫЕ
      a.menu-item-link(href="/herd/add-animal") ДОБАВИТЬ ЖИВОТНОЕ
      a.menu-item-link(href="/herd/list-milking-results") ДОБАВИТЬ РЕЗУЛЬТАТЫ ДОЕНИЯ
      a.menu-item-link(href="/herd/list-inseminations") ДОБАВИТЬ ОСЕМЕНЕНИЯ
      a.menu-item-link(href="/herd/write-off-animal/multiple") СПИСАТЬ ЖИВОТНЫХ
      a.menu-item-link(href="/herd/history") ИСТОРИЯ ИЗМЕНЕНИЙ
    .menu-item-box
      .menu-item-title ВЕТЕРИНАРИЯ
      a.menu-item-link(href="/vet") ГЛАВНАЯ
      a.menu-item-link(href="/vet/add-action/multiple") ДОБАВИТЬ ДЕЙСТВИЕ
      a.menu-item-link(href="/vet/add-problem/multiple") ДОБАВИТЬ ПРОБЛЕМУ
      a.menu-item-link(href="/vet/add-scheme") ДОБАВИТЬ СХЕМУ
    .menu-item-box
      .menu-item-title ПРОДУКЦИЯ
      a.menu-item-link(href="/distribution") ГЛАВНАЯ
      a.menu-item-link(href="/distribution/add-client") ДОБАВИТЬ КЛИЕНТА
      a.menu-item-link(href="/distribution/add-product-decide") ДОБАВИТЬ ПРОДУКТ
      //-a.menu-item-link(href="/distribution/add-order") ДОБАВИТЬ ЗАКАЗ
      a.menu-item-link(href="/distribution/add-outgo-decide") ДОБАВИТЬ ПРОДАЖУ
      a.menu-item-link(href="/distribution/all-products") ВСЕ ПРОДУКТЫ
      a.menu-item-link(href="/distribution/all-clients") ВСЕ КЛИЕНТЫ
    //-.menu-item-box
      .menu-item-title СКЛАД
    //-.menu-item-box.menu-item-box-soon
      .menu-item-title СКЛАД
        .menu-title-soon-tag Скоро
    .menu-item-box
      .menu-item-title КОРМЛЕНИЕ
      a.menu-item-link(href="/feed/") ГЛАВНАЯ
      a.menu-item-link(href="/feed/sample") ДОБАВИТЬ ВИД
      a.menu-item-link(href="/feed/record") ДОБАВИТЬ ЗАПИСЬ

