.notification-btn
  i.ph.ph-bell
  //-.notif-count 12

//-.notification-detailed
  .nd-header
    img.nd-icon(src="/img/icons/herd-s.svg")
    .nd-header-title Скоро отел
    .nd-header-date 6 дн. назад
  .nd-items-container   
    a.nd-item(href="#") #50261488
  .nd-footer
    .nd-footer-btn.nd-footer-later Позже
    .nd-footer-btn.nd-footer-delete Удалить

.notification-background
  //-.notifications-empty Уведомления отсутствуют
  .notifications-block
    .notification-item
      .ni-btn.ni-btn-delete Удалить
      .ni-btn Позже
      .ni-header
        img.ni-icon(src="/img/icons/herd-s.svg")
        .ni-header-title Скоро отел
        .ni-header-date 6 дн. назад
      .ni-list-line
        .ni-ll-item #5026
