.main-search-block(data-user-id=`${user._id}`)
    .main-search-line-box
      ion-icon(name="search")
      input#search-text(type="text" placeholder="Поиск")
      .ms-loader
    .main-search-found-block
      .ms-found-item 
        .ms-found-item-image
          ion-icon(name="paw")
        .ms-found-item-text
          .ms-found-item-title Карта животного #5026
          .ms-found-item-sub-title Модуль: Животные