extends base

block content
  include _rcmDist
  section.main-section 

    .animal-results-window
      .animal-distribution-decide-container
        .addc-title ДОБАВИТЬ...
        a.addc-item(href="/distribution/add-sale")
          img(src="/img/images/sale-icon.png")
          .addc-item-text Продажа
        a.addc-item(href="/distribution/add-consumption")
          img(src="/img/images/consumption-icon.png")
          .addc-item-text Употребление
