extends base

block content
  section.main-section 
    .dist-main-section
      .dist-main-section-left
        .dm-clients-block
          .dm-clients-chart-box
            .dm-clients-chart
            .dm-clients-chart-text-box
      .dist-main-section-right
    