extends base

block content
  include _rcmDist
  section.main-section.dist-module 

    .animal-results-window
      .ai-decide-block
        a.ai-decide-block-item#sale(href="/distribution/add-sale")
          .ai-decide-block-item-text
            | ДОБАВИТЬ 
            span ПРОДАЖУ
          img.ai-decide-block-item-img(src="/img/icons/dist-sale.png")
        a.ai-decide-block-item#consumption(href="/distribution/add-consumption")
          .ai-decide-block-item-text
            | ДОБАВИТЬ 
            span УПОТРЕБЛЕНИЕ
          img.ai-decide-block-item-img(src="/img/icons/dist-consumption.png")
