extends base

block content

  section.main-section 

    .animal-results-window
      .animal-distribution-decide-container
        .addc-title ДОБАВИТЬ...
        a.addc-item(href="/distribution/add-product")
          img(src="/img/images/milk-bottle-icon.png")
          .addc-item-text Сырье
        a.addc-item(href="/distribution/add-process")
          img(src="/img/images/cheese-icon.png")
          .addc-item-text Переработка
