extends base

block content
  include _rcmVet
  section.main-section.vet-module

    .animal-results-window
      .ai-form-container.ai-form-vet#edit-vet-action-container
        .ai-block-sub-title ДОБАВИТЬ
        .ai-block-title Ветеринарную схему

        .ai-input-block.ai-input-block-text
          .ai-input-label Название
          input.ai-input.ai-input-text#name(type="text" )
          .ai-input-marker.ai-input-marker-r
            ion-icon(name="alert")
          .ai-input-explain-block.ai-input-explain-block-required
            .ai-input-eb-tri
            .ai-input-eb-text Обязательно

        .ai-combined-block
          .ai-combined-block-title ШАГ #1
          .ai-input-block.ai-input-block-text
            .ai-input-label Действие
            input.ai-input.ai-input-text#name(type="text")

        .ai-add-combined-block
          | ДОБАВИТЬ ШАГ
          span +

        //-.ai-combined-block
          .ai-combined-block-title ШАГ #1
          .ai-input-block.ai-input-block-text
            .ai-input-label Действие
            input.ai-input.ai-input-text#name(type="text")

          .ai-input-block.ai-input-block-small-select#dose-input
            .ai-input-label Временной отрезок
            input.ai-input.ai-input-text.ai-input-small-select.ai-input-block-triple#dose(type="number")
            .ai-small-select#unit.ai-input-block-triple
              p Дней
              .ai-select-line
              .ai-small-select-block.shadow
                .ai-small-select-item(data-val="h") Часов
                .ai-small-select-item.ai-small-select-item-selected(data-val="d") Дней
            .ai-small-select#unit.ai-input-block-triple
              p От начала
              .ai-select-line
              .ai-small-select-block.shadow
                .ai-small-select-item.ai-small-select-item-selected(data-val="start") От начала
                .ai-small-select-item(data-val="last-point") От пред. действия



        a.ai-input-submit-btn(data-action-id=``) Сохранить




